---
import Base from "../layouts/Base.astro";
import Content404 from "../components/404";
---

<Base>
	<section
		class="bar:h-vhwfn h-vhwf flex flex-grow flex-col justify-center items-center"
	>
		<Content404 client:load />
	</section>
</Base>
