---
import Base from "../layouts/base.astro";
---

<Base>
    <h1 class="text-slate-300 text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum eaque
        fugit aperiam explicabo, quisquam quia. Non, itaque tempora? Corporis
        quos, repellat eligendi vero exercitationem nulla debitis praesentium
        itaque adipisci aperiam, animi cupiditate odit quaerat perferendis
        officiis reprehenderit molestias at. Quaerat iure est architecto sed
        excepturi. Voluptates, officiis ea autem dolore id similique illum
        aliquid accusantium, veniam minima atque cumque. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Temporibus voluptatum nemo quo
        dolorem nulla praesentium ullam aliquam pariatur, esse nostrum molestias
        non a sed eos quos error tenetur explicabo officia dolor odit repellat
        ea necessitatibus earum. Modi ratione dicta dolore maiores! Minus
        numquam quibusdam delectus excepturi mollitia voluptas voluptate
        necessitatibus ducimus officiis, aliquid optio ipsam veniam corrupti
        iste debitis, explicabo reiciendis ipsa. Perspiciatis quia ea recusandae
        dolor, nobis laudantium a error delectus impedit tenetur accusantium
        similique sed laborum numquam molestias quod libero blanditiis, corrupti
        vitae qui dolore quis. Numquam voluptatum tenetur nesciunt deleniti
        doloremque illum aspernatur ea commodi ipsum cumque cupiditate
        perspiciatis iste eius odio, voluptas itaque nisi! Suscipit cupiditate
        debitis distinctio architecto, quaerat molestias non sunt nisi atque
        quasi laudantium nostrum voluptatum blanditiis ex numquam totam earum
        provident et magnam ea pariatur eum eligendi minima vitae? Laborum
        mollitia quasi ullam atque eveniet aperiam beatae, sint suscipit
        veritatis expedita! Omnis consequatur, est dolor dolores totam eaque
        possimus corrupti delectus ab reprehenderit, harum magnam magni, quae
        cumque. Quae dolore odio fugiat dicta magni fugit recusandae aut
        doloribus sint minima. Necessitatibus mollitia deleniti ducimus
        accusamus ratione beatae quam dolor in, atque quaerat consequuntur sit
        illum possimus! Fugit doloremque vero dolorem culpa, doloribus
        perspiciatis inventore tenetur, est eaque excepturi magnam dolores
        maiores eius esse quisquam odio, dolore ipsa neque laudantium quae totam
        debitis aperiam repellat. Molestiae animi iusto veniam labore libero hic
        ipsum mollitia accusamus eligendi vel repellendus molestias, quaerat
        aspernatur nihil iure dolore voluptatum aliquam magni nobis commodi
        laboriosam aperiam assumenda consequuntur. Accusantium ipsam quia
        mollitia eos, repudiandae laborum perspiciatis iusto asperiores
        doloremque atque quos at numquam itaque exercitationem ex placeat et
        nesciunt, eum alias tenetur incidunt assumenda? Quia debitis maiores
        similique aperiam sint. Nobis perferendis ex sint perspiciatis
        laudantium natus, rem error pariatur optio architecto at vitae ea?
        Consectetur voluptas veniam aliquam impedit animi repellendus pariatur
        harum? Numquam beatae dolores ipsum hic expedita aperiam cum vitae
        laborum dolorum, possimus repudiandae sunt, doloremque consequuntur aut
        veritatis fuga voluptates laudantium esse ratione? Architecto
        perspiciatis aliquam vero accusantium vel soluta distinctio libero
        delectus quae. Ut laborum quasi consequatur numquam illum id. Possimus
        facere tenetur quod eaque eveniet totam at, minus fugit aliquid ad iusto
        neque sunt voluptatum. Nemo blanditiis cum beatae facilis culpa
        perferendis autem consectetur, neque natus recusandae, nobis eos
        molestiae ut. Impedit consectetur quos, ipsa dolor atque nisi eos
        inventore aliquid, quis autem eius ullam dignissimos. Qui natus
        obcaecati maxime ipsa est, error saepe quod corrupti minus blanditiis
        voluptatem perferendis molestiae consectetur. Vero ipsam deserunt
        quisquam nobis sunt animi placeat dolore culpa enim, eveniet at debitis,
        itaque a, inventore atque rerum ullam hic? Suscipit, eligendi quaerat
        praesentium temporibus inventore, sed repellendus, assumenda blanditiis
        vitae hic aperiam odit! Molestiae possimus porro, ea architecto, totam
        illum quaerat odit incidunt deleniti adipisci eaque facilis numquam
        autem illo? Sint pariatur dolor assumenda doloremque veniam eum vel
        repudiandae ipsam ipsum earum eos facere hic maxime provident culpa
        blanditiis tenetur accusantium velit atque, odit sequi dolores, vitae
        nemo. Maiores nam quod laborum? Nisi laboriosam possimus mollitia
        eligendi voluptate?
    </h1>
</Base>
