---
import AboutMe from "../components/AboutMe";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
import Hero from "../components/Hero";
import Base from "../layouts/Base.astro";
---

<Base>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="home"
	>
		<Hero client:only />
	</section>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="about"
	>
		<AboutMe client:only />
	</section>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="my-portfolio"
	>
		<Projects client:only />
	</section>
	<section
		class="bar:h-vhwfn h-vhwf bar:scroll-mt-[76px] snap-start"
		id="contacts"
	>
		<Contact client:only />
	</section>
</Base>
