---
import Base from "../layouts/base.astro";
import BouncyText from "../components/bouncyText.astro";
---

<Base>
    <h1 class="text-slate-50 text-8xl font-bold">
        <BouncyText text="Hello World" />
    </h1>
</Base>
