---
import AboutMe from "../components/AboutMe";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
import Hero from "../components/Hero";
import Base from "../layouts/Base.astro";
---

<Base>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="Hero"
	>
		<Hero client:load />
	</section>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="About"
	>
		<AboutMe client:only />
	</section>
	<section
		class="h-screen bar:h-vhw snap-start bar:scroll-mt-[76px]"
		id="Projects"
	>
		<Projects client:only />
	</section>
	<section
		class="bar:h-vhwfn h-vhwf bar:scroll-mt-[76px] snap-start"
		id="Contact"
	>
		<Contact client:load />
	</section>
</Base>
