---
import AboutMe from "../components/AboutMe";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
import Hero from "../components/Hero";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const projectsInfoResponse = await getCollection("projects");
---

<Base>
	<section
		class="h-fit flex flex-grow flex-col bar:min-h-vhw bar:scroll-mt-[63px] min-h-screen"
		id="home"
	>
		<Hero client:load />
	</section>
	<section
		class="h-fit flex flex-grow flex-col bar:min-h-vhw bar:scroll-mt-[63px] min-h-screen"
		id="about"
	>
		<AboutMe client:load />
	</section>
	<section
		class="h-screen bar:h-vhw flex flex-col flex-grow bar:scroll-mt-[63px]"
		id="my-portfolio"
	>
		<Projects client:load projectsInfoResponse={projectsInfoResponse} />
	</section>
	<section
		class="h-fit flex flex-grow flex-col bar:min-h-vhwfn bar:scroll-mt-[63px] min-h-vhwf"
		id="contacts"
	>
		<Contact client:load />
	</section>
</Base>
