---
import Base from "../layouts/base.astro";
---

<Base>
    <h1 class="text-slate-300 text-7xl bar:text-9xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum eaque
        fugit aperiam explicabo, quisquam quia. Non, itaque tempora? Corporis
        quos, repellat eligendi vero exercitationem nulla debitis praesentium
        itaque adipisci aperiam, animi cupiditate odit quaerat perferendis
        officiis reprehenderit molestias at. Quaerat iure est architecto sed
        excepturi. Voluptates, officiis ea autem dolore id similique illum
        aliquid accusantium, veniam minima atque cumque.
    </h1>
</Base>
