---
import Base from "../layouts/Base.astro";
---

<Base GenerateNavigation={false} UsePDF={true}>
	<div id="adobe-dc-view"></div>
	<script type="text/javascript">
		document.addEventListener("adobe_dc_view_sdk.ready", function () {
			var adobeDCView = new AdobeDC.View({
				clientId: "3b1a0743813f471a96dd317e76e88903",
				divId: "adobe-dc-view",
			});

			adobeDCView.previewFile(
				{
					content: {
						location: {
							url: "/PortfolioV1/resume.pdf",
						},
					},

					metaData: { fileName: "RESUME.pdf" },
				},
				{
					embedMode: "FULL_WINDOW",
					showAnnotationTools: false,
					showDownloadPDF: true,
					showPrintPDF: false,
					showZoomControls: true,
					defaultViewMode: "FIT_WIDTH",
					enableLinearization: true,
					enableFormFilling: false,
					showThumbnails: false,
					showBookmarks: false,
				}
			);
		});
	</script>
</Base>
