---
import Base from "../layouts/Base.astro";
---

<Base>
	<section
		class="h-vhwf bar:h-vhwfn flex-grow flex-col flex justify-center items-center pt-24 bar:pt-0"
	>
		<embed
			src="https://ys-raptor.github.io/Portfolio/resume.pdf"
			type="application/pdf"
			width="100%"
			height="100%"
		/>
	</section>
</Base>
