---
import Base from "../layouts/Base.astro";
---

<Base>
	<section
		class="h-vhwf bar:h-vhwfn flex-grow flex-col flex justify-center items-center pt-24 bar:pt-0"
	>
		<iframe
			src="https://docs.google.com/gview?url=https://ys-raptor.github.io/Portfolio/resume.pdf&embedded=true"
			width="100%"
			height="100%"
		>
		</iframe>
	</section>
</Base>
