---
interface Props {
    text: string;
}

const { text } = Astro.props as Props;
---

<>
    {
        text
            .replace(" ", "\u00A0")
            .split("")
            .map((char) => {
                return (
                    <span class="hover:text-lime-300 transition-all inline-block w-fit rubberBand">
                        {char}
                    </span>
                );
            })
    }
</>

<script>
    const c = document.getElementsByClassName("rubberBand");

    const main = () => {
        for (let i = 0; i < c.length; i++) {
            c[i].addEventListener("pointerover", () => {
                c[i].classList.toggle("animate-rubberBand");
            });

            c[i].addEventListener("animationend", () => {
                c[i].classList.toggle("animate-rubberBand");
            });
        }
    };

    main();
</script>
