<footer
	id="footer"
	class="relative h-32 mt-5 flex flex-col items-center backdrop-blur-lg bottom-0 w-full"
>
	<div class="h-px w-full flex">
		<div class="bg-slate-50 w-full h-px mx-5 opacity-30"></div>
	</div>
	<a
		class="text-xl hover:opacity-75 text-slate-50 my-auto cursor-pointer hover:text-lime-300 transition-all"
		href="https://github.com/YS-RAPTOR/Portfolio"
		target="_blank"
		rel="noopener noreferrer"
	>
		Designed and Built by Yashan
	</a>
</footer>
