<footer
	id="footer"
	class="relative h-32 mt-5 flex flex-col items-center backdrop-blur-lg bottom-0 w-full"
>
	<div class="h-1 w-full flex">
		<div class="bg-slate-50 w-full h-1/6 mx-5 opacity-30"></div>
	</div>
	<div class="text-xl text-slate-50 my-auto">FOOTER</div>
</footer>
