---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Nav from "../../components/Nav";
import Background from "../../components/Background";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
	const Projects = await getCollection("projects-content");
	return Projects.map((project) => ({
		params: {
			project: project.slug,
		},
		props: {
			project,
		},
	}));
}

interface Props {
	project: CollectionEntry<"projects-content">;
}

const { project } = Astro.props;
const { Content, headings } = await project.render();
---

<html lang="en" class="scroll-smooth 3xl:text-lg 3xl:font-semibold">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Portfolio/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{project.data.title}</title>
	</head>
	<body class="relative overflow-x-hidden">
		<Nav client:load />
		<Background fps={12} scale={7} client:load />
		<div class="bar:ml-16 font-mono text-white">
			<Content />
		</div>
		<Footer />
	</body>
</html>

<Content />
