---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav";
import Background from "../components/Background";

interface Props{
    GenerateNavigation?: boolean;
}

const {GenerateNavigation = true} = Astro.props;

// Background
// Primary
// Cyan700
// Teal 600
// Green 500
// Lime 300
// Rose 200
// Slate 50
---

<html
	lang="en"
	class="scroll-smooth text-sm xs:ext-base 3xl:text-lg 3xl:font-semibold bg-Background"
>
	<head>
		<meta charset="utf-8" />
		<link rel="canonical" href="https://ys-raptor.github.io/Portfolio" />

		<meta
			name="description"
			content="Skilled developer/engineer showcasing expertise in Robotics and Mechatronics. Browse my portfolio and contact me for your next project."
		/>
		<meta name="author" content="Yashan" />
		<meta
			name="ahrefs-site-verification"
			content="80a4d9298bd95ae4df857f860c3d550bbcf96152d5c4307db3bddd8c15bd17f2"
		/>

		<!-- Open Graph -->
		<meta property="og:title" content="Yashan | Engineer & Developer" />
		<meta property="og:site_name" content="Yashan | Engineer & Developer" />
		<meta property="og:type" content="website" />
		<meta
			property="og:url"
			content="https://ys-raptor.github.io/Portfolio"
		/>
		<meta
			property="og:description"
			content="Welcome to Yashan's portfolio website. As a skilled developer/engineer, I specialize in Robotics and Mechatronics. Browse my portfolio to see examples of my work and learn more about my experience and skills. Contact me to discuss your next project and how I can help bring your ideas to life."
		/>
		<meta
			property="og:image"
			content="https://ys-raptor.github.io/Portfolio/icon.svg"
		/>
		<meta
			property="og:image:url"
			content="https://ys-raptor.github.io/Portfolio/icon.svg"
		/>
		<meta
			property="og:image:secure_url"
			content="https://ys-raptor.github.io/Portfolio/icon.svg"
		/>
		<meta
			property="og:image:alt"
			content="Yashan | Engineer & Developer Logo"
		/>
		<meta property="og:image:type" content="image/svg+xml" />
		<meta property="og:image:width" content="512" />
		<meta property="og:image:height" content="512" />

		<!-- Twitter -->
		<meta name="twitter:title" content="Yashan | Engineer & Developer" />
		<meta
			name="twitter:description"
			content="Welcome to Yashan's portfolio website. As a skilled developer/engineer, I specialize in Robotics and Mechatronics. Browse my portfolio to see examples of my work and learn more about my experience and skills. Contact me to discuss your next project and how I can help bring your ideas to life."
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:image"
			content="https://ys-raptor.github.io/Portfolio/icon.svg"
		/>
		<meta
			name="twitter:image:alt"
			content="Yashan | Engineer & Developer Logo"
		/>
		<meta name="twitter:image:width" content="512" />
		<meta name="twitter:image:height" content="512" />
		<meta
			name="twitter:domain"
			content="https://ys-raptor.github.io/Portfolio"
		/>

		<link rel="icon" type="image/svg+xml" href="/Portfolio/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yashan | Engineer & Developer</title>
	</head>
	<body class="relative overflow-x-hidden">
		{GenerateNavigation &&
            <Nav client:load />
            <Background fps={12} scale={7} client:load />
            <div class="bar:ml-16 font-mono">
                <slot />
            </div>
            <Footer />
        }
        {!GenerateNavigation &&
            <slot />
        }
	</body>
</html>

<style is:global>
	/* Make Chrome scrollbar identical to firefox scrollbar */

	::-webkit-scrollbar {
		width: 0.2em;
		height: 0.2em;
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #858585;
		border-radius: 0.5em;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 0.5em;
		background-color: transparent;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #fff;
	}

	::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	::-webkit-scrollbar-button {
		display: none;
	}
</style>
