---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav";
import Background from "../components/Background";

// Background
// Primary
// Cyan700
// Teal 600
// Green 500
// Lime 300
// Rose 200
// Slate 50
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Yashan's Portfolio</title>
    </head>
    <body class="relative">
        <Nav client:load />
        <Background fps={12} scale={7} client:load />
        <div class="mr-24 bar:ml-16 bar:mr-0">
            <slot />
        </div>
        <Footer />
    </body>
</html>
